.char-page-header{
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
/*
.container{
}
*/
#card-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;

}

.cards{
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    object-fit: contain;
}

#Character-Card{
    position: absolute;
    left: 5%;
}
#Eternal-Card{
    position: absolute;
    right: 5%;
}

/*Bottom Half*/
#Controls-Area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(50vh - 50px);
    width: 100vw;
    font-family: 'upheavtt';
}
.Bottom-Page-Components{
    margin-top: 0%;
    height: calc(33.33% - 25px);
}
.Bottom-Page-Components img{
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}
.Bottom-Page-Row{
    display: flex; /* Add display property */
    flex-direction: row; /* Update flex-direction property */
    
    height: 100%;
    width: 100%;
}
#Bottom-Page-Buttons button{

}
#Health-Area{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100vw;
}
#Health-Area img{
    width: 20%;
}
#Attack-Area{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100vw;
}
#Attack-Area img{
    width: 20%;
}
.Plus-Minus{
    height: 10px;
    width: 10px;
}

/* Overlay page */
#Overlay-Counters-Page{
    background-color: rgba(40, 44, 52, 0.8);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -999;
}
#Overlay-Counters-Page-Formatting{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}
.Overlay-Input-Fields{
    background-color: rgba(69, 0, 0, 0.8);
    color: white;
    width: 80vw;
    height: 10vh;
    font-size: 24px;
    font-family: 'upheavtt';
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.Counting-Input-Fields{
    display: inline;
    padding-inline: 5px;
}
#Home-Button{
    background-color: rgba(69, 0, 0, 0.8);
    color: white;
    width: 100px;
    height: 35px;
    margin-left: 10px;
}
#Open-Counters-Button{
    background-color: rgba(69, 0, 0, 0.8);
    color: white;
    width: 100px;
    height: 35px;
    margin-right: 10px;
}
#Close-Counters-Button{
    background-color: rgba(69, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;

}

/* FONTS */
@font-face {
    font-family: 'upheavtt';
    src: url(./fonts/upheavtt.ttf);
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
